<h1>Welcome to Awesome Menus!</h1>

<div class='create_menu'>
  <%= form_for @menu, remote: true do |f| %>
  <%= f.text_field :name, :placeholder => 'Menu Name' %>
  <%= f.submit value='Add Menu' %>
  <% end %>
</div>

<ul>
<% @menus.each do |menu| %>
  <li>
    <%= menu.name %>
    <%= link_to 'details', '#', remote: true, class: 'items' %><br>

    <div id='item' style='display: none'>
        <%= render partial: "items/form", layout: false, locals: { menu: menu, item: menu.items.new } %>
        <p id='item_details'></p>
    </div>
  </li>
<% end %>

  <li>
    <span class='add_menu'></span>
  </li>
</ul>
